body{
    background-color: #0f0f0f;
    color: white;
}

.bg-header{
    background-color: #edeec0;
}
.navbar {
    position: sticky;
    top: 0;
    z-index: 1000;
    transition: top 1.8s;
}

.navbar.hidden {
    top: -80px; /* Adjust this value based on your navbar height */
}

ul{
    margin-right: 60px;
}
.cm-soon{
    color: white;
    text-align: center;
 
}

.home{
    margin-top: 100px;
}
.home h3{
    font-size: 32px;
}
.home h1{
    font-size: 56px;
}
.home p{
    margin-top: 20px;
    font-size: 18px;
}
.about-text{
    font-size: 16px;
}
.bg-purple{
    background-color: purple;
}
.progress{
    margin-top: 10px;
    height: 30px;
}
.margin-about{
    height: 30px;
}
.about{
    margin-top: 180px;
}
.project{
    margin-top: 180px;
}
.about-portfolio{
    margin-top: 180px;
}
.card-body{
    color: black;
   
}
.card{
    margin: 20px;
   
}
.contact{
    margin-top: 90px;
}
.bar{
    margin-top: 40px;
}
.contact-me{
    margin-top: 100px;
    background-color: rgb(28, 25, 25);
    border-radius: 20px;
    margin-bottom: 180px;
   
}
.contact-bottom {
    padding-top: 50px;
  }
  .contact h1 {
    margin-bottom: 30px;
  }
  .send-button {
    width: 100%;
  }
.mh{
    width: 100%;
}